#projectPickerMap {
	margin: 20px 30px 20px 30px;
	width: calc(100% - 60px);
	height: 30%;
	border: 1px solid #cccccc;
}

#timepickercontainer {
  width: 308px;
}

#datetimepickerdropdown {
  padding: 0px;
  margin: 0px;
}

.navbar-brand {
	padding: 6px;
}

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: calc(100vh - 200px);
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, 0%);
  -ms-transform: translate(0, 0%);
  transform: translate(0, 0%);
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.modal .modal-body {
	max-height: calc(100vh - 200px);
	overflow-y: auto;
}

.auth {
  color: rgba(0, 153, 0, 0.8);
}

.notauth {
  color: rgba(204, 0, 0, 0.8);
}